.options-builder {
	margin: 15px 0 0 20px;
	padding: 10px;
	border-left: 1px solid lightgrey;
	width: 80%;

	display: flex;
	flex-direction: column;
	gap: 20px;

	input {
		border: none;
		border-bottom: 1px solid gray;

		&:focus {
			outline: none;
			border-bottom: 3px solid black;
		}
	}

	& > button {
		align-self: flex-start;
	}

	.option-container {
		width: fit-content;
		display: flex;
		gap: 20px;
	}

	.checkboxes-container {
		display: grid;
		grid-template-columns: 15% 45% 15% 10%;
		grid-template-areas:
			'option th-lab th-req  rm-btn'
			'option i-text i-check rm-btn';
		gap: 10px 5%;

		& > label:first-child {
			grid-area: option;
			align-self: center;
		}
		& > label:nth-child(2) {
			grid-area: th-lab;
		}
		& > label:nth-child(3) {
			grid-area: th-req;
		}
		& > input[type='text'] {
			grid-area: i-text;
		}
		& > input[type='checkbox'] {
			grid-area: i-check;
			align-self: center;
		}
		& > button {
			grid-area: rm-btn;
		}
	}
}
