.rm-btn {
	border-radius: 50%;
	align-self: center;
	justify-self: left;

	min-width: 30px;
	min-height: 30px;
	padding: 5px;

	background-color: transparent;
	border: none;
	color: gray;

	&:hover,
	&:focus {
		outline: none;
		color: black;
		border: 2px solid black;

		&:disabled {
			border: none;
			color: gray;
		}
	}
}
