.field-builder {
	display: flex;
	flex-direction: column;
	//border: 2px solid lightgray;

	fieldset {
		border: unset;
		margin: 10px auto 10px 0;
		padding: 10px 20px;
		width: 100%;

		legend {
			margin-left: -10px;
			font-size: 1.2rem;
			color: gray;
			grid-column: 1 / span 2;

			& + section {
				margin-top: 0;
			}
		}
	}

	.fb-basic {
		display: flex;
		flex-direction: column;
	}

	.fb-descriptors {
		display: flex;
		flex-direction: column;
	}
}
